# Ignore virtual environment
venv/

# Byte-compiled / optimized / cache files
__pycache__/
*.py[cod]

# VS Code settings folder
.vscode/

# Ignore Streamlit-specific cache
.streamlit/

# Ignore model and token files
*.h5
*.pickle
*.pkl
*.joblib

# Ignore CSV datasets (optional)
data/*.csv

# Ignore logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
dist/
*.egg-info/
